<%= form_for(@game_profile) do |f| %>
  <% if @game_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_profile.errors.count, "error") %> prohibited this game_profile from being saved:</h2>

      <ul>
      <% @game_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>
  <div class="field">
    <%= f.hidden_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_field :comment %>
  </div>
  <div class="field">
    <%= f.label :image_path01 %><br>
    <%= f.text_field :image_path01 %>
  </div>
  <div class="field">
    <%= f.label :image_path02 %><br>
    <%= f.text_field :image_path02 %>
  </div>
  <div class="field">
    <%= f.label :image_path03 %><br>
    <%= f.text_field :image_path03 %>
  </div>
  <div class="field">
    <%= f.label :image_path04 %><br>
    <%= f.text_field :image_path04 %>
  </div>
  <% if !@game[:profile_key_name01].blank? %>
    <div class="field">
      <%= @game[:profile_key_name01] %><br>
      <%= f.text_field :value01 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name02].blank? %>
    <div class="field">
      <%= @game[:profile_key_name02] %><br>
      <%= f.text_field :value02 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name03].blank? %>
    <div class="field">
      <%= @game[:profile_key_name03] %><br>
      <%= f.text_field :value03 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name04].blank? %>
    <div class="field">
      <%= @game[:profile_key_name04] %><br>
      <%= f.text_field :value04 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name05].blank? %>
    <div class="field">
      <%= @game[:profile_key_name05] %><br>
      <%= f.text_field :value05 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name06].blank? %>
    <div class="field">
      <%= @game[:profile_key_name06] %><br>
      <%= f.text_field :value06 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name07].blank? %>
    <div class="field">
      <%= @game[:profile_key_name07] %><br>
      <%= f.text_field :value07 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name08].blank? %>
    <div class="field">
      <%= @game[:profile_key_name08] %><br>
      <%= f.text_field :value08 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name09].blank? %>
    <div class="field">
      <%= @game[:profile_key_name09] %><br>
      <%= f.text_field :value09 %>
    </div>
  <% end %>
  <% if !@game[:profile_key_name10].blank? %>
    <div class="field">
      <%= @game[:profile_key_name10] %><br>
      <%= f.text_field :value10 %>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :play_start_date %><br>
    <%= f.date_select :play_start_date %>
  </div>
  <div class="field">
    <%= f.label :login_start_time %><br>
    <%= f.time_select :login_start_time %>
  </div>
  <div class="field">
    <%= f.label :login_finish_time %><br>
    <%= f.time_select :login_finish_time %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br>
    <%= f.datetime_select :created_at %>
  </div>
  <div class="field">
    <%= f.label :updated_at %><br>
    <%= f.datetime_select :updated_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
