<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @game_profile.user_id %>
</p>

<p>
  <strong>Game:</strong>
  <%= @game_profile.game_id %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @game_profile.comment %>
</p>

<p>
  <strong>Image path01:</strong>
  <%= @game_profile.image_path01 %>
</p>

<p>
  <strong>Image path02:</strong>
  <%= @game_profile.image_path02 %>
</p>

<p>
  <strong>Image path03:</strong>
  <%= @game_profile.image_path03 %>
</p>

<p>
  <strong>Image path04:</strong>
  <%= @game_profile.image_path04 %>
</p>

<p>
  <strong>Value01:</strong>
  <%= @game_profile.value01 %>
</p>

<p>
  <strong>Value02:</strong>
  <%= @game_profile.value02 %>
</p>

<p>
  <strong>Value03:</strong>
  <%= @game_profile.value03 %>
</p>

<p>
  <strong>Value04:</strong>
  <%= @game_profile.value04 %>
</p>

<p>
  <strong>Value05:</strong>
  <%= @game_profile.value05 %>
</p>

<p>
  <strong>Value06:</strong>
  <%= @game_profile.value06 %>
</p>

<p>
  <strong>Value07:</strong>
  <%= @game_profile.value07 %>
</p>

<p>
  <strong>Value08:</strong>
  <%= @game_profile.value08 %>
</p>

<p>
  <strong>Value09:</strong>
  <%= @game_profile.value09 %>
</p>

<p>
  <strong>Value10:</strong>
  <%= @game_profile.value10 %>
</p>

<p>
  <strong>Delete flag:</strong>
  <%= @game_profile.delete_flag %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @game_profile.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @game_profile.updated_at %>
</p>

<%= link_to 'Edit', edit_game_profile_path(@game_profile) %> |
<%= link_to 'Back', game_profiles_path %>
