<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @game.game_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Tag name:</strong>
  <%= @game.tag_name %>
</p>

<p>
  <strong>Icon image path:</strong>
  <%= @game.icon_image_path %>
</p>

<p>
  <strong>Header image path:</strong>
  <%= @game.header_image_path %>
</p>

<p>
  <strong>Web view url:</strong>
  <%= @game.web_view_url %>
</p>

<p>
  <strong>Profile key name01:</strong>
  <%= @game.profile_key_name01 %>
</p>

<p>
  <strong>Profile key name02:</strong>
  <%= @game.profile_key_name02 %>
</p>

<p>
  <strong>Profile key name03:</strong>
  <%= @game.profile_key_name03 %>
</p>

<p>
  <strong>Profile key name04:</strong>
  <%= @game.profile_key_name04 %>
</p>

<p>
  <strong>Profile key name05:</strong>
  <%= @game.profile_key_name05 %>
</p>

<p>
  <strong>Profile key name06:</strong>
  <%= @game.profile_key_name06 %>
</p>

<p>
  <strong>Profile key name07:</strong>
  <%= @game.profile_key_name07 %>
</p>

<p>
  <strong>Profile key name08:</strong>
  <%= @game.profile_key_name08 %>
</p>

<p>
  <strong>Profile key name09:</strong>
  <%= @game.profile_key_name09 %>
</p>

<p>
  <strong>Profile key name10:</strong>
  <%= @game.profile_key_name10 %>
</p>

<p>
  <strong>Play start date:</strong>
  <%= @game.play_start_date %>
</p>

<p>
  <strong>Login start time:</strong>
  <%= @game.login_start_time %>
</p>

<p>
  <strong>Login finish time:</strong>
  <%= @game.login_finish_time %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @game.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @game.updated_at %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
