<p id="notice"><%= notice %></p>

<h1>Listing Followers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Follower user</th>
      <th>Delete flag</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @followers.each do |follower| %>
      <tr>
        <td><%= follower.user_id %></td>
        <td><%= follower.game_id %></td>
        <td><%= follower.follower_user_id %></td>
        <td><%= follower.delete_flag %></td>
        <td><%= follower.created_at %></td>
        <td><%= follower.updated_at %></td>
        <td><%= link_to 'Show', follower %></td>
        <td><%= link_to 'Edit', edit_follower_path(follower) %></td>
        <td><%= link_to 'Destroy', follower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follower', new_follower_path %>
